$icomoon-font-family: "and" !default;
$icomoon-font-path: "fonts" !default;

$and-1: "\e900";
$and-2: "\e901";
$and-3: "\e902";
$and-4: "\e903";
$and-6: "\e904";
$and-7: "\e905";
$and-9: "\e906";
$and-10: "\e907";
$and-11: "\e908";
$and-12: "\e909";
$and-13: "\e90a";
$and-14: "\e90b";
$and-15: "\e90c";
$and-16: "\e90d";
$and-17: "\e90e";
$and-18: "\e90f";

